<p>error-page works!</p>

<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li routerLink="/auth/login" class="list-group-item">Login</li>
            <li routerLink="/auth/registro"class="list-group-item">Registro</li>
            <li routerLink="/heroes/listado" class="list-group-item">Listado Herores</li>
            <li routerLink="/heroes/agregar" class="list-group-item">Agregar Heroes</li>
            <li routerLink="/heroes/editar/1234" class="list-group-item">Editar Heroes</li>
            <li routerLink="/heroes/1234" class="list-group-item"> Heroe</li>
        </ul>
    </div>
</div>


